<div ng-include="menu"></div>
<div class="responsive-padding row">
	<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
		<div class="form-group text-center" style="background-color:#029f5b;">
			<h2 style="color:#ffffff;padding:8px;">Change Password</h2>
		</div>
		<div class="form-group">
			<input type="password" ng-model="oldPassword" class="form-control"
				   placeholder="Old Password" required />
		</div>
		<div class="form-group">
			<input type="password" ng-model="newPassword" class="form-control"
				   placeholder="New Password" required />
		</div>
		<div class="form-group">
			<input type="password" ng-model="conPassword" class="form-control"
				   placeholder="Confirm New Password" required />
		</div>
		<div class="form-group">
			<button type="submit" ng-click="changePassword();" class="form-control btn btn-login">
				Change Password
			</button>
		</div>
	</div>
</div>