<div class="responsive-padding container">
	<div class="row height-max">
		<div class="col-md-8 col-sm-8">
			<div class="col-md-12 height-max header-title">
				<h3>News Feed</h3>
				<posts posts="feed" />
			</div>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="col-md-12 header-side">
				<h3>
					<a style="color:#ffffff;" href="#/friends">Friends - {{ friendsPreview.totalCount }}</a>
				</h3>
				<div class="row">
					<friends data="friendsPreview.friends"></friends>
				</div>
			</div>
		</div>
	</div>
</div>