<div class="container responsive-padding">
	<div class="row">
		<div class="col-md-6">
			<fieldset>
				<legend>Friends</legend>
				<ul class="list-group">
					<li class="list-group-item">
						<div class="input-group">
							<input ng-keyup="filterFriends.search();" ng-model="filterFriends.value" type="text"
								   class="form-control" placeholder="Search friends.." />
							<span class="input-group-btn">
								<button class="btn btn-default" ng-click="filterFriends.clear();">
									<i class="glyphicon glyphicon-remove"></i>
								</button>
							</span>
						</div>
					</li>
					<li ng-repeat="friend in filterFriends.items" class="list-group-item clearfix">
						<a href="#/users/{{friend.username}}">{{ friend.name }} - {{ friend.username }}</a>
						<div class="btn-group pull-right" role="group">
							<button ng-click="remove(friend);" class="btn btn-default btn-sm">
								<i class="glyphicon glyphicon-remove" style="color:#b91515;"></i>
								Remove
							</button>
						</div>
					</li>
				</ul>
			</fieldset>
		</div>
		<div class="col-md-6">
			<fieldset>
				<legend>Friends Requests</legend>
				<ul class="list-group">
					<li class="list-group-item">
						<div class="input-group">
							<input ng-keyup="filterFriendsRequests.search();" ng-model="filterFriendsRequests.value" type="text"
								   class="form-control" placeholder="Search friends requests.." />
							<span class="input-group-btn">
								<button class="btn btn-default" ng-click="filterFriendsRequests.clear();">
									<i class="glyphicon glyphicon-remove"></i>
								</button>
							</span>
						</div>
					</li>
					<li ng-repeat="request in filterFriendsRequests.items" class="list-group-item clearfix">
						<a href="#/users/{{request.user.username}}">{{ request.user.name }} - {{ request.user.username }}</a>
						<div class="btn-group pull-right" role="group">
							<button ng-click="accept(request.id, request.user.name);" class="btn btn-default btn-sm">
								<i class="glyphicon glyphicon-ok" style="color:#15bd2b;"></i>
								Accept
							</button>
							<button ng-click="reject(request.id, request.user.name);" class="btn btn-default btn-sm">
								<i class="glyphicon glyphicon-remove" style="color:#b91515;"></i>
								Reject
							</button>
						</div>
					</li>
				</ul>
			</fieldset>
		</div>
	</div>
</div>
