<div ng-if="isLogged()">
	<menu />
	<div ng-include="main" />
</div>
<div ng-if="!isLogged()">
	<div class="row text-center">
		<div class="col-md-12">
			<h1 class="title">Social Network</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
			<div class="panel panel-login">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-6">
							<a ng-click="showLogin();" ng-class="{ 'active' : isLogin }">
								Login
							</a>
						</div>
						<div class="col-xs-6">
							<a ng-click="showRegister();" ng-class="{ 'active' : !isLogin }">
								Register
							</a>
						</div>
					</div>
					<hr>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
							<div ng-include="form"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>