<div class="responsive-padding container">
	<div class="row row-width-max">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cover-default" style="text-align:center;">
			<img src="{{ profile.coverImageData }}" class="cover-image" />
			<img src="{{ profile.profileImageData | profileImageFilter }}" class="cover-profileImage" />
			<h2 class="cover-title"> {{ name }}</h2>
			<button ng-if="!profile.isFriend && !isMe && !profile.hasPendingRequest" ng-click="request();"
					class="btn btn-primary cover-friendRequestButton">
				Send Friend Request
			</button>
		</div>
	</div>
	<div class="row height-max">
		<div class="col-md-8 col-sm-8">
			<div class="col-md-12 height-max header-title">
				<h3>User wall</h3>
				<form class="form-horizontal" ng-if="profile.isFriend">
					<div class="form-group">
						<div class="col-sm-2">
							<h4>Submit a post</h4>
							<button ng-click="post(textModel);" class="btn btn-primary">Submit</button>
						</div>
						<div class="col-sm-10">
							<textarea ng-model="textModel" class="form-control" rows="4"></textarea>
						</div>
					</div>
				</form>
				<posts posts="userPosts" />
			</div>
		</div>
		<div class="col-md-4 col-sm-4" ng-if="profile.isFriend || isMe">
			<div class="col-md-12 header-side">
				<h3>
					<a style="color:#ffffff;" href="#/friends">Friends - {{ friendsPreview.totalCount }}</a>
				</h3>
				<div class="row">
					<friends data="friendsPreview.friends"></friends>
				</div>
			</div>
		</div>
	</div>
</div>
