<div class="col-md-12 header-container">
	<ul class="friends-list">
		<li ng-repeat="friend in data.slice(0, 3)" title="{{friend.name}}">
			<a href="#/users/{{friend.username}}">
				<img ng-src="{{friend.profileImageData | profileImageFilter}}" />
				<span>{{friend.name | formatNameFilter}}</span>
			</a>
		</li>
	</ul>
	<ul class="friends-list" ng-if="data.length > 3">
		<li ng-repeat="friend in data.slice(3, 6)" title="{{friend.name}}">
			<a href="#/users/{{friend.username}}">
				<img ng-src="{{friend.profileImageData | profileImageFilter}}" />
				<span>{{friend.name | formatNameFilter}}</span>
			</a>
		</li>
	</ul>
</div>