<nav ng-if="isLogged()" role="navigation" class="navbar navbar-fixed-top main-menu">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#mainMenuCollapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/users/{{ user.username }}">
				<div class="row row-filter">
					<div class="col-md-12">
						<image ng-src="{{ user.profileImageData }}" class="profileImage"
							   title="{{ user.name }}" alt="Profile image." />
						<p style="float:right;">
							{{ user.username }}
						</p>
					</div>
				</div>
			</a>
		</div>
		<div id="mainMenuCollapse" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li>
					<a href="#/">Feed</a>
				</li>
				<li>
					<a href="#/messages">Messages</a>
				</li>
				<li>
					<a href="#/friends">Friends</a>
				</li>
				<li>
					<a id="dropdownMenu1" data-toggle="dropdown" data-hover="dropdown"
					   aria-expanded="true">Settings</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						<li role="presentation">
							<a role="menuitem" tabindex="-1" href="#/profile">Edit Profile</a>
						</li>
						<li role="presentation">
							<a role="menuitem" tabindex="-1" href="#/profile/password">Change Password</a>
						</li>
					</ul>
				</li>
				<li>
					<a ng-controller="AuthenticationController" ng-click="logout();">Logout</a>
				</li>
			</ul>
			<search />
		</div>
	</div>
</nav>
