<div ng-repeat="post in posts" class="panel panel-default custom-default">
	<div class="panel-heading custom-heading">
		<h3 class="panel-title post-title">
			<a href="#/users/{{ post.author.username }}">
				<img class="post-img" src="../images/avatar.gif" />
				{{ post.author.name }}
			</a>
		</h3>
		{{ post.date }}
	</div>
	<div class="panel-body">
		{{ post.postContent }}
	</div>
	<div class="panel-footer custom-footer">
		<span class="num">{{ post.likesCount }}</span>
		<button ng-disabled="post.liked" class="btn btn-primary btn-xs" title="Like">
			<i class="glyphicon glyphicon-thumbs-up"></i>
			Like
		</button>
		<span class="num">{{ post.comments.length }}</span>
		<button class="btn btn-primary btn-xs" title="Comment">
			<i class="glyphicon glyphicon-comment"></i>
			Comment
		</button>
	</div>
</div>