<div class="col-sm-3 col-md-3 pull-right">
	<form class="navbar-form" role="search">
		<div class="input-group">
			<input ng-keyup="search();" ng-model="value" type="text"
				   class="form-control" placeholder="Search" />
			<div class="input-group-btn">
				<button ng-show="showClear" ng-click="clear();" class="btn btn-default">
					<i class="glyphicon glyphicon-remove"></i>
				</button>
				<button class="btn btn-default">
					<i class="glyphicon glyphicon-search"></i>
				</button>
			</div>
		</div>
		<div class="output col-sm-12 col-md-12" ng-show="results != null">
			<p ng-repeat="found in results" ng-click="viewPerson(found.username);" class="option">
				<img ng-src="{{ found.profileImageData ? found.profileImageData : '../../../images/avatar.gif' }}" class="profileImage"
					 title="fullName" alt="Profile image." />
				{{ found.name }}
			</p>
		</div>
	</form>
</div>