<nav class="navbar navbar-fixed-top main-menu" role="navigation" ng-if="showMenu">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainMenuCollapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/">
				<div class="row row-filter">
					<div class="col-md-12">
						<image ng-src="{{ profileImage }}" class="profileImage"
							   title="fullName" alt="Profile image." />
						<p style="float:right;">{{ fullName }}</p>
					</div>
				</div>
			</a>
		</div>
		<div id="mainMenuCollapse" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li>
					<a ng-click="">Messages</a>
				</li>
				<li>
					<a ng-click="">Friends</a>
				</li>
				<li>
					<a ng-click="logout();">Logout</a>
				</li>
			</ul>
			<search />
		</div>
	</div>
</nav>